.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dfd8d1;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }
}
.section__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", "Arial", serif;
}
.section__item {
  margin-bottom: 10px;
}
.section__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #ce3829;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
}
.section__btn:hover,
.section__btn:focus,
.section__btn:hover > .section__chevron,
.section__btn:focus > .section__chevron {
  color: #a52d21;
  stroke: #a52d21;
}
.section__btn:active,
.section__btn:active > .section__chevron {
  color: #d86054;
  stroke: #d86054;
}
.section__btn.active > .section__chevron {
  transform: rotate(180deg);
}
.section__btn-text {
  margin-right: 15px;
}
.section__chevron {
  stroke: #ce3829;
  fill: none;
  transition: stroke 0.3s ease, transform 0.3s ease;
}
.section__content {
  max-height: 0;
  overflow: hidden;

  transition: height 0.3s ease;
}
.section__content-wrapper {
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
  background: white;
}
.section__text {
  padding: 0;
}
